@charset "utf-8";
.cajamenuopciones {
	font-family: Verdana, Geneva, sans-serif;
	color: #636;
	height:190px;
	
}
.cajamenuopcionesseparador{
	display:block;
	float:left;
	width:33px;
	height:120px;
	
}
.cajamenuopcionescentral{
	display:block;
	float:left;
	width:150px;
	height:160px;
	background-color: #FFF;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	color: #636;
}

.cajamenuopcionescentral a, .cajamenuopcionescentral a:visited{
	display:block;
	float:left;
	width:150px; /*restamos 10 que es la anchura del padding*/
	color: #636;
	background-color: #FFF;
	padding: 5px 5px 5px 5px;
}
.cajamenuopcionescentral a:hover, .cajamenuopcionescentral a:active, .cajamenuopcionescentral a:focus{
	display:block;
	float:left;
	width:150px;
	background-color: #636;
	padding: 5px 5px 5px 5px;
	color: #FFF;
}
.cajamenuopcionesfoto{
	
	border:none;
}

.cuadrogaleriatexto {

}
.cuadrogaleriatexto a, .cuadrogaleriatexto a:visited {

}
.cuadrogaleriatexto a:hover, .cuadrogaleriatexto a:active, .cuadrogaleriatexto a:focus {

}
